.hero-area, .banner-area, .request-area{
    position: relative;
}

.hero-contact{
    position: absolute;
    top: 80%;
    left: 10%;
    width: 40%;
}

.banner-contact{
    position: absolute;
    top: 45%;
    right: 10%;
    width: 39%;
}

.request-contact1{
    position: absolute;
    top: 15%;
    left: 9%;
    width: 39%;
}

.request-contact2{
    position: absolute;
    top: 15%;
    right: 9%;
    width: 39%;
}

@media(max-width: 768px){
    
}