.hero-area, .banner-area, .request-area{
    position: relative;
}

.hero-contact{
    position: absolute;
    top: 80%;
    left: 10%;
    width: 40%;
}

.banner-contact{
    position: absolute;
    top: 45%;
    right: 10%;
    width: 39%;
}

.request-contact1{
    position: absolute;
    top: 15%;
    left: 9%;
    width: 39%;
}

.request-contact2{
    position: absolute;
    top: 15%;
    right: 9%;
    width: 39%;
}

@media screen and (max-width:767px){
    .header-logo{
        width: 90%;
    }
    .header-contact{
        width: 100%;
    }
    .header-lcenter img{
        display: none;
    }
    .header-left, .header-right{
        padding: 0 10px 0 10px!important;
    }
    .navbar-brand{
        margin: 0!important;
    }
}

@media screen and (max-width:992px) and ( min-width:767px) {
    .container{
        padding-left: 0!important;
        padding-right: 0!important;
        margin-left: 0!important;
        margin-right: 0!important;
        max-width: 100%!important;
    }

    .navbar-brand img{
        width: 80%;
    }
}

@media screen and (max-width:992px){
    .container{
        padding-left: 0!important;
        padding-right: 0!important;
        margin-left: 0!important;
        margin-right: 0!important;
        max-width: 100%!important;
    }

    header .row{
        padding: 0 20px;
    }
}

